div{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #aaa;
}
#d2 img{
    width: 400px;
    height: 350px;
}
#d3{
    text-align: justify;
    margin: 20px 50px;
}
#d4 img{
    width: 250px;
    height: 200px;
    margin: 10px;
}
img{
    border: 10px solid#fff;
    box-shadow: 10px 5px 10px #333;
}